body {
	display: flex;
	justify-content: center;
	background-color: black;
}

.event-vote-container {
	/* display: flex; */
	/* justify-content: center; */
}

.event-name {
	margin-right: 14px;
}

.event-info {
	display: flex;
	justify-content: center;
	color: azure;
}
