body {
	display: flex;
}

.header-container {
	background-image: url("/images/teevee.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 380px;
	margin: 40px 20px 0 20px;
	justify-content: center;
	overflow: hidden;
}

.title {
	font-family: "Velocette";
	font-size: 33px;
	color: azure;
	margin-top: 50px;
	margin-left: 10px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.header-container {
		height: 380px;
	}
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	.header-container {
		background-image: url("/images/teevee.jpg"), url("/images/teevee.jpg"),
			url("/images/teevee.jpg"), url("/images/teevee.jpg"),
			url("/images/teevee.jpg");
		background-size: 40%, 50%, 70%, 90%, 100%;
		background-position: 50% 50%;
	}
}
