.create-party {
	font-family: "aqua";
}

.button {
	margin-bottom: 12px;
}

.input-container {
	display: flex;
	flex-wrap: wrap;
}

.date {
	margin: 6px 0 10px 8px;
	font-size: 25px;
}

.name,
.date {
	font-family: "Haarlem-Deco";
	color: azure;
	margin-left: 8px;
}

.welcome {
	color: azure;
}
