.create-party {
	font-family: "aqua";
}

.button {
	margin-bottom: 12px;
}

.create-party,
.welcome {
	color: azure;
}

.input-container {
	display: flex;
	flex-wrap: wrap;
}

.date {
	margin: 6px 0 10px 8px;
	font-size: 25px;
}

.name,
.date {
	font-family: "Haarlem-Deco";
	color: azure;
	margin-left: 8px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.date {
		font-size: 35px;
	}
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	.date {
		font-size: 35px;
		margin-left: 85px;
	}

	input {
		width: 400px;
		height: 40px;
	}
}
