.button {
	height: 50px;
	width: 125px;
	background-color: rgb(222, 221, 219);
	font-family: "Haarleem";
	font-weight: 700;
	font-size: 17px;
	border-radius: 6px;
	margin-bottom: 0;
	box-shadow: 0px 15px 50px rgb(236, 236, 229);
}

.shrink:hover {
	text-decoration: none;
	color: #000;
}

.shrink-on-hover {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.shrink-on-hover:hover,
.shrink-on-hover:focus,
.shrink-on-hover:active {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
