body {
	font-family: "Haarlem-Deco";
}

.name {
	font-size: x-large;
}

.name-input {
	margin-bottom: 60px;
}

.submit-button {
	margin-bottom: 20px;
}

.username {
	color: azure;
	font-size: 26px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.name {
		font-size: 30px;
	}

	.name-input {
		height: 32px;
		width: 300px;
	}

	.submit-button {
		height: 60px;
		width: 200px;
		font-size: 22px;
		margin-bottom: 300px;
	}
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	.name {
		font-size: 40px;
	}

	.username {
		font-size: 32px;
	}

	.name-input {
		height: 32px;
		width: 300px;
	}

	.submit-button {
		height: 60px;
		width: 200px;
		font-size: 22px;
		margin-bottom: 400px;
	}
}
